
.ms-card {
  font-size: 2em;
  color: darkslateblue;
}


.ms-sidenav-fab-container {
  width: auto;
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.ms-sidenav-fab-container mat-sidenav {
  max-width: 270px;
  padding-right: 10px;
  padding-left: 40px;
}

.ms-sidenav-fab-container .mat-sidenav-content,
.ms-sidenav-fab-container mat-sidenav {
  display: flex;
  overflow: visible;
}

.ms-right-nav {
  max-width: 240px;
  padding-right: 10px;
}

.ms-right-nav mat-list-item:hover {
  background-color: darkslateblue;
  color: azure;
  font-style: italic;
}

.ms-scrolling-content {
  overflow: auto;
  height: 100%;
}

.ms-scrolling-content li {
  padding-top:20px;
}

.ms-scrolling-content  mat-list-item:hover{
  background-color: darkslateblue;
  color: white;
  font-style: italic;
}

.ms-scrolling-content  mat-list-item:active {
  background-color: darkslateblue;
  color: rebeccapurple;
}

.ms-fab.mat-mini-fab {
  background-color: darkslateblue;
  color: white;
  position: absolute;
  left: 20px;
  bottom: 10px;
}

.ms-sidenav-fab-container mat-sidenav li {
  padding-top: 30px;
}

.ms-icon {
  padding: 0 14px;
}

.ms-spacer {
  flex: 1 1 auto;
}



.mat-list-item mat-icon {
  padding-right: 10px;
}

.black {
  color:black;
}

.pink {
  color: pink;
}
