<mat-toolbar color=primary>
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Oceanids C2</span>
  -&nbsp; &nbsp;<i>{{appName}}</i> <span style="color: azure">&nbsp;&nbsp;  {{gliderName}}</span>
  <span class="ms-spacer"></span>
  <mat-icon class="ms-icon">perm_identity</mat-icon>
  <mat-icon class="ms-icon">exit_to_app</mat-icon>

</mat-toolbar>

<mat-sidenav-container>

  <mat-sidenav #sidenav mode="over" [position]="start">

    <button mat-mini-fab class="ms-fab" (click)="sidenav.toggle()">
      <mat-icon>chevron_left</mat-icon>
    </button>


    <mat-nav-list>
      <mat-list-item (click)="sidenav.toggle()">
        <span mat-line><mat-icon>account_circle</mat-icon> Account</span>
        <p mat-line> joe@seagliders.org</p>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item (click)="selectApp(1)">
        <a>
          <mat-icon>local_airport</mat-icon>
          Glider terminal</a>
      </mat-list-item>
      <mat-list-item (click)="selectApp(2)">
        <a>
          <mat-icon>add_to_queue</mat-icon>
          Mission planner</a>
      </mat-list-item>
      <mat-list-item (click)="selectApp(3)">
        <a>
          <mat-icon>web</mat-icon>
          Display </a>
      </mat-list-item>
      <mat-list-item>
        <a>
          <mat-icon>trending_up</mat-icon>
          Simulator</a>
      </mat-list-item>
      <mat-list-item>
        <a>
          <mat-icon>supervisor_account</mat-icon>
          Admin </a>
      </mat-list-item>
      <mat-list-item>
        <a>
          <mat-icon>perm_media</mat-icon>
          Statistics </a>
      </mat-list-item>

    </mat-nav-list>

  </mat-sidenav>


  <div class="row">

    <div class="col-sm-9">
      <button mat-mini-fab class="ms-fab" (click)="sidenav.toggle()">
        <mat-icon>chevron_right</mat-icon>
      </button>

      <div class="ms-scrolling-content">

        <!-- <ul>

           <li> Lorem ipsum dolor sit amet, pede a libero aenean phasellus, lectus metus sint ut risus, fusce vel in
             pellentesque. Nisl rutrum etiam morbi consectetuer tempor magna, aenean nullam nunc id, neque vivamus
             interdum sociis nulla scelerisque sem, dolor
             id wisi turpis magna aliquam magna.
           </li>

           <li> Risus accumsan hac eget etiam donec sed, senectus erat mattis quam, tempor vel urna occaecat cras, metus
             urna augue nec at. Et morbi amet dui praesent, nec eu at, ligula ipsum dui sollicitudin, quis nisl massa
             viverra ligula, mauris fermentum orci
             arcu enim fringilla.
           </li>

           <li>Arcu erat nulla in aenean lacinia ullamcorper, urna ante nam et sagittis, tristique vehicula nibh ipsum
             vivamus, proin proin. Porta commodo nibh quis libero amet. Taciti dui, sapien consectetuer.
           </li>
           <li> Risus accumsan hac eget etiam donec sed, senectus erat mattis quam, tempor vel urna occaecat cras, metus
             urna augue nec at. Et morbi amet dui praesent, nec eu at, ligula ipsum dui sollicitudin, quis nisl massa
             viverra ligula, mauris fermentum orci
             arcu enim fringilla.
           </li>
         </ul>-->

        <div class="row">

          <div class="col-sm-6">

            <mat-card>
              <mat-card-header class="ms-card">
                <mat-card-title>Platform Information</mat-card-title>

              </mat-card-header>
              <mat-card-content>

                <form class="form-inline">
                  <div class="form-group">
                    <label for="sel_plat">Platform:</label>
                      <select class="form-control" id="sel_plat" (change)="onChangePlatform($event.target.value)">
                    <option *ngFor="let g of gliders" value="{{g.name}}">{{g.name}}</option>
                      </select>


                  </div>

                  <div class="form-group">
                    <label for="sel_deploy">Deployment:</label>
                      <select class="form-control" id="sel_deploy" (change)="onChangeDeployment($event.target.value)">
                    <option *ngFor="let d of deployments" value="{{d.name}}">{{d.name}}</option>
                      </select>
                  </div>
                   

                   
                </form>
              </mat-card-content>
            </mat-card>

            <mat-card>
              <mat-card-header class="ms-card">
                <mat-card-title>Mission Information</mat-card-title>

              </mat-card-header>
              <mat-card-content>

                <form class="form-inline">
                  <div class="form-group">
                    <label for="sel_plat">Mission:</label>
                      <select class="form-control" id="sel_plat" (change)="onChangePlatform($event.target.value)">
                    <option *ngFor="let m of missions" value="{{m.name}}">{{m.name}}</option>
                      </select>
                    <button mat-raised-button color="primary">New Mission</button>
                  </div>
                </form>

                <form class="form-inline">

                  <div class="form-group">
                    <label for="sel_deploy">Version:</label>
                      <select class="form-control" id="sel_deploy" (change)="onChangeDeployment($event.target.value)">
                    <option *ngFor="let v of versions" value="{{v.name}}">{{v.name}}</option>
                      </select>

                    <button mat-raised-button color="primary">New Version</button>
                    <button mat-raised-button color="accent">Edit</button>
                    <button mat-raised-button color="accent">Save</button>
                    <button mat-raised-button color="warn">Transmit</button>
                  </div>
                </form>
              </mat-card-content>
            </mat-card>


          </div>

          <div class="col-sm-5">
            more stuff here
            <img src="./assets/bathy1.jpg" width="600px">
          </div>
        </div>


        <button class="btn btn-danger" (click)="popup1()">open Modal 1</button>
        <button class="btn btn-danger" (click)="popup2()">open Modal 2</button>
      </div>

    </div>

    <div class="col-sm-3">
      <div class="ms-right-nav">

        <mat-list dense>

          <!-- <button mat-raised-button color="accent" (click)="popup3()">Filter</button> -->
          <h3 matSubheader>Filters</h3>
          <mat-list-item>
            <mat-icon>view_list</mat-icon>
            <button mat-button (click)="applyFilter(1)">All</button>
          </mat-list-item>
          <mat-list-item>
            <mat-icon>rowing</mat-icon>
            <button mat-button (click)="applyFilter(2)">Deployment...</button>
          </mat-list-item>
          <mat-list-item>
            <mat-icon>favorite</mat-icon>
            <button mat-button (click)="applyFilter(3)">Favorite</button>
          </mat-list-item>
          <mat-list-item>
            <mat-icon>query_builder</mat-icon>
            <button mat-button (click)="applyFilter(4)">Recent</button>
          </mat-list-item>
          <mat-list-item>
            <mat-icon>airplanemode_active</mat-icon>
            <button mat-button (click)="applyFilter(5)">Type...</button>
          </mat-list-item>


        </mat-list>

        <mat-list>
          <h3 matSubheader>Sea Gliders</h3>
          <mat-list-item *ngFor="let g of (gliders | typeSelector : 'sg') ">
            <mat-icon *ngIf="g.vis===true" class="black">room</mat-icon>
            <mat-icon *ngIf="g.vis!==true" class="pink">room</mat-icon>
            {{g.id}} {{g.name}}
          </mat-list-item>

          <mat-divider></mat-divider>
          <h3 matSubheader>Slocums</h3>
          <mat-list-item *ngFor="let g of (gliders | typeSelector : 'slocum'); let i = index" (click)="selectGlider(g)">
            <mat-icon *ngIf="g.vis===true" class="black">room</mat-icon>
            <mat-icon *ngIf="g.vis!==true" class="pink">room</mat-icon>
            {{g.id}} {{g.name}}
          </mat-list-item>

        </mat-list>


      </div>

    </div>

  </div>


</mat-sidenav-container>
