<h2 mat-dialog-title class="ms-dialog-title" >Filter Platforms</h2>

<div mat-dialog-content>

  <mat-selection-list #filterlist>
    <mat-list-option>Deployment</mat-list-option>
    <mat-list-option>All</mat-list-option>
    <mat-list-option>Favorites</mat-list-option>
    <mat-list-option>Recent</mat-list-option>
    <mat-list-option>Type</mat-list-option>
  </mat-selection-list>

</div>

<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="goaway(filterlist.selectedOptions.selected)">Apply filter</button>
  <button mat-raised-button color="waccent" (click)="stay()">Can't decide</button>
</div>

