<h2 mat-dialog-title class="ms-dialog-title" >Another popup dialog test</h2>

<div mat-dialog-content>

  <mat-radio-group class="ms-radio-group" [(ngModel)]="selectedWaypoint">
    <mat-radio-button class="ms-radio-button" *ngFor="let p of data.positions" [value]="p.name">
      {{p.name}} at {{p.lat}}, {{p.lon}}
    </mat-radio-button>
  </mat-radio-group>

</div>

<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="goaway()">Go Away</button>
  <button mat-raised-button color="warn" (click)="stay()">Stay a while</button>
  <button mat-raised-button color="accent">Do something else</button>
</div>
