.ms-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.ms-radio-button {
  margin: 5px;
}

.ms-selected-value {
  margin: 15px 0;
}

.ms-dialog-title {
  color: darkslateblue;
  font-size: 2em;
}
