<h1 mat-dialog-title class="ms-dialog-title">A popup dialog test</h1>

<div mat-dialog-content>
<mat-list>
  <mat-list-item *ngFor="let p of data.positions">{{p.name}} is at ({{p.lat}}, {{p.lon}})</mat-list-item>
</mat-list>
</div>
<div mat-dialog-actions>
<button class="btn btn-info" (click)="goaway()">Go Away</button>
</div>
